// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #ff4d2d;
  --ion-color-primary-rgb: 255,77,45;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #e04428;
  --ion-color-primary-tint: #ff5f42;

  --ion-color-secondary: #fc9e46;
  --ion-color-secondary-rgb: 252,158,70;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #de8b3e;
  --ion-color-secondary-tint: #fca859;

  --ion-color-tertiary: #b1c181;
  --ion-color-tertiary-rgb: 177,193,129;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #9caa72;
  --ion-color-tertiary-tint: #b9c78e;

  --ion-color-success: #4ce0d2;
  --ion-color-success-rgb: 76,224,210;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #43c5b9;
  --ion-color-success-tint: #5ee3d7;

  --ion-color-warning: #5d4ce0;
  --ion-color-warning-rgb: 93,76,224;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #5243c5;
  --ion-color-warning-tint: #6d5ee3;

  --ion-color-danger: #db415b;
  --ion-color-danger-rgb: 219,65,91;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c13950;
  --ion-color-danger-tint: #df546b;

  --ion-color-dark: #22464c;
  --ion-color-dark-rgb: 34,70,76;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e3e43;
  --ion-color-dark-tint: #38595e;

  --ion-color-medium: #869a9d;
  --ion-color-medium-rgb: 134,154,157;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #76888a;
  --ion-color-medium-tint: #92a4a7;

  --ion-color-light: #eaeeee;
  --ion-color-light-rgb: 234,238,238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #ced1d1;
  --ion-color-light-tint: #ecf0f0;
}
